.button-green{
    background: #68AF27 !important;
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 1px;
    text-decoration: none;
}

@media (min-width: 1200px)
.row-fluid {
    width: 100%;
    *zoom: 1;
}

@media (min-width: 1200px)
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.ico-checkmark:before {
    content: "\e222";
}

.ico-cabinet:before, .ico-cabinet-2:before, .ico-file:before, .ico-file-2:before, .ico-file-3:before, .ico-files:before, .ico-phone:before, .ico-tablet:before, .ico-window:before, .ico-monitor:before, .ico-film:before, .ico-inbox:before, .ico-download:before, .ico-upload:before, .ico-inbox-2:before, .ico-cog:before, .ico-cogs:before, .ico-cog-2:before, .ico-warning:before, .ico-picture:before, .ico-pictures:before, .ico-pictures-2:before, .ico-alarm-clock:before, .ico-time:before, .ico-checkmark:before, .ico-cancel:before, .ico-eye:before, .ico-site-map:before, .ico-site-map-2:before, .ico-cloud:before, .ico-upload-2:before, .ico-chart:before, .ico-chart-2:before, .ico-chart-3:before, .ico-chart-4:before, .ico-chart-5:before, .ico-chart-6:before, .ico-location:before, .ico-download-2:before, .ico-folder:before, .ico-alarm:before, .ico-alarm-cancel:before, .ico-phone-2:before, .ico-phone-3:before, .ico-image:before, .ico-open:before, .ico-sale:before, .ico-direction:before, .ico-map:before, .ico-trashcan:before, .ico-vote:before, .ico-lab:before, .ico-locked:before, .ico-unlocked:before, .ico-locked-2:before, .ico-unlocked-2:before, .ico-magnifier:before, .ico-zoom-in:before, .ico-zoom-out:before, .ico-stack:before, .ico-stack-2:before, .ico-stack-3:before, .ico-archive:before, .ico-battery:before, .ico-battery-2:before, .ico-battery-3:before, .ico-battery-4:before, .ico-battery-5:before, .ico-megaphone:before, .ico-megaphone-2:before, .ico-patch:before, .ico-pil:before, .ico-injection:before, .ico-thermometer:before, .ico-lamp:before, .ico-lamp-2:before, .ico-lamp-3:before, .ico-cube:before, .ico-box:before, .ico-box-2:before, .ico-diamond:before, .ico-bag:before, .ico-money-bag:before, .ico-grid:before, .ico-grid-2:before, .ico-list:before, .ico-list-2:before, .ico-ruler:before, .ico-ruler-2:before, .ico-layout:before, .ico-layout-2:before, .ico-layout-3:before, .ico-layout-4:before, .ico-layout-5:before, .ico-layout-6:before, .ico-layout-7:before, .ico-layout-8:before, .ico-layout-9:before, .ico-layout-10:before, .ico-layout-11:before, .ico-layout-12:before, .ico-layout-13:before, .ico-layout-14:before, .ico-tools:before, .ico-screwdriver:before, .ico-paint:before, .ico-hammer:before, .ico-brush:before, .ico-pen:before, .ico-chat:before, .ico-comments:before, .ico-chat-2:before, .ico-chat-3:before, .ico-volume:before, .ico-volume-2:before, .ico-volume-3:before, .ico-equalizer:before, .ico-resize:before, .ico-resize-2:before, .ico-download-3:before, .ico-stats:before, .ico-stats-2:before, .ico-attachment:before, .ico-hourglass:before, .ico-pencil:before, .ico-pen-2:before, .ico-pin:before, .ico-pin-2:before, .ico-discout:before, .ico-edit:before, .ico-scissors:before, .ico-profile:before, .ico-rotate:before, .ico-rotate-2:before, .ico-reply:before, .ico-forward:before, .ico-retweet:before, .ico-shuffle:before, .ico-loop:before, .ico-crop:before, .ico-dollar:before, .ico-dollar-2:before, .ico-coins:before, .ico-pig:before, .ico-bookmark:before, .ico-bookmark-2:before, .ico-address-book:before, .ico-address-book-2:before, .ico-safe:before, .ico-envelope:before, .ico-envelope-2:before, .ico-heart:before, .ico-info:before, .ico-info-2:before, .ico-book:before, .ico-book-2:before, .ico-barcode:before, .ico-barcode-2:before, .ico-expand:before, .ico-collapse:before, .ico-pop-out:before, .ico-pop-in:before, .ico-cone:before, .ico-blocked:before, .ico-stop:before, .ico-keyboard:before, .ico-printer:before, .ico-checked:before, .ico-error:before, .ico-add:before, .ico-minus:before, .ico-alert:before, .ico-pictures-3:before, .ico-atom:before, .ico-eyedropper:before, .ico-globe:before, .ico-globe-2:before, .ico-shipping:before, .ico-ying-yang:before, .ico-compass:before, .ico-zip:before, .ico-zip-2:before, .ico-tags:before, .ico-heart-2:before, .ico-heart-3:before, .ico-usb:before, .ico-clipboard:before, .ico-clipboard-2:before, .ico-clipboard-3:before, .ico-switch:before, .ico-ruler-3:before, .ico-glass:before, .ico-music:before, .ico-search:before, .ico-envelope-3:before, .ico-heart-4:before, .ico-star:before, .ico-star-empty:before, .ico-user:before, .ico-film-2:before, .ico-th-large:before, .ico-ok:before, .ico-remove:before, .ico-zoom-in-2:before, .ico-zoom-out-2:before, .ico-off:before, .ico-signal:before, .ico-cog-3:before, .ico-trash:before, .ico-home:before, .ico-file-4:before, .ico-time-2:before, .ico-road:before, .ico-download-alt:before, .ico-download-4:before, .ico-upload-3:before, .ico-inbox-3:before, .ico-play-circle:before, .ico-repeat:before, .ico-refresh:before, .ico-list-alt:before, .ico-lock:before, .ico-flag:before, .ico-volume-off:before, .ico-volume-down:before, .ico-volume-up:before, .ico-qrcode:before, .ico-barcode-3:before, .ico-tag:before, .ico-tags-2:before, .ico-book-3:before, .ico-bookmark-3:before, .ico-print:before, .ico-align-left:before, .ico-align-center:before, .ico-align-right:before, .ico-align-justify:before, .ico-list-3:before, .ico-indent-left:before, .ico-indent-right:before, .ico-facetime-video:before, .ico-picture-2:before, .ico-pencil-2:before, .ico-map-marker:before, .ico-adjust:before, .ico-tint:before, .ico-edit-2:before, .ico-share:before, .ico-check:before, .ico-move:before, .ico-step-backward:before, .ico-fast-backward:before, .ico-backward:before, .ico-play:before, .ico-pause:before, .ico-stop-2:before, .ico-forward-2:before, .ico-fast-forward:before, .ico-step-forward:before, .ico-eject:before, .ico-chevron-left:before, .ico-chevron-right:before, .ico-plus-sign:before, .ico-minus-sign:before, .ico-remove-sign:before, .ico-ok-sign:before, .ico-question-sign:before, .ico-info-sign:before, .ico-screenshot:before, .ico-remove-circle:before, .ico-ok-circle:before, .ico-ban-circle:before, .ico-arrow-left:before, .ico-arrow-right:before, .ico-arrow-up:before, .ico-arrow-down:before, .ico-share-alt:before, .ico-resize-full:before, .ico-resize-small:before, .ico-plus:before, .ico-minus-2:before, .ico-asterisk:before, .ico-exclamation-sign:before, .ico-eye-open:before, .ico-eye-close:before, .ico-warning-sign:before, .ico-plane:before, .ico-calendar:before, .ico-random:before, .ico-comment:before, .ico-magnet:before, .ico-chevron-up:before, .ico-chevron-down:before, .ico-retweet-2:before, .ico-shopping-cart:before, .ico-folder-close:before, .ico-folder-open:before, .ico-resize-vertical:before, .ico-resize-horizontal:before, .ico-bar-chart:before, .ico-cogs-2:before, .ico-comments-2:before, .ico-thumbs-up:before, .ico-thumbs-down:before, .ico-heart-empty:before, .ico-signout:before, .ico-pushpin:before, .ico-external-link:before, .ico-signin:before, .ico-trophy:before, .ico-upload-alt:before, .ico-lemon:before, .ico-phone-4:before, .ico-check-empty:before, .ico-bookmark-empty:before, .ico-phone-sign:before, .ico-facebook:before, .ico-github:before, .ico-unlock:before, .ico-credit:before, .ico-rss:before, .ico-hdd:before, .ico-bullhorn:before, .ico-bell:before, .ico-certificate:before, .ico-hand-right:before, .ico-hand-left:before, .ico-hand-up:before, .ico-hand-down:before, .ico-circle-arrow-left:before, .ico-circle-arrow-right:before, .ico-circle-arrow-up:before, .ico-circle-arrow-down:before, .ico-globe-3:before, .ico-wrench:before, .ico-tasks:before, .ico-filter:before, .ico-briefcase:before, .ico-fullscreen:before, .ico-group:before, .ico-link:before, .ico-cloud-2:before, .ico-beaker:before, .ico-copy:before, .ico-paper-clip:before, .ico-table:before, .ico-money:before, .ico-caret-down:before, .ico-caret-up:before, .ico-caret-left:before, .ico-caret-right:before, .ico-columns:before, .ico-sort:before, .ico-sort-down:before, .ico-sort-up:before, .ico-envelope-alt:before, .ico-undo:before, .ico-comment-alt:before, .ico-comments-alt:before, .ico-bolt:before, .ico-exchange:before, .ico-cloud-download:before, .ico-cloud-upload:before, .ico-file-alt:before, .ico-double-angle-left:before, .ico-double-angle-right:before, .ico-double-angle-up:before, .ico-double-angle-down:before, .ico-angle-left:before, .ico-angle-right:before, .ico-angle-up:before, .ico-angle-down:before, .ico-desktop:before, .ico-laptop:before, .ico-tablet-2:before, .ico-mobile:before, .ico-circle:before, .ico-reply-2:before, .ico-folder-close-alt:before, .ico-folder-open-alt:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.body .content .table .button .icon {
    border: 1px solid #FFF;
    height: 22px;
    width: 22px;
    margin: 7px;
    line-height: 24px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.button-blue{
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 1px;
    text-decoration: none;
    background: #009AD7 !important;
}

.content .icon{
    border: 1px solid #FFF;
    height: 22px;
    width: 22px;
    margin: 7px;
    line-height: 24px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ico-reply{
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
}

.ico-checkmark{
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
}

.ico-remove{
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
}

.button-red{
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 1px;
    text-decoration: none;
    background: #C22439 !important;
}

.block{
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    float: left;
}

.pont{
    font-size: 13px;
}

.data-fluid{
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#Tcomment{
    font-size: 20px;
    color: #FFF !important;
    border-color: #FFF !important;
    line-height: 20px;
    font-weight: normal;
    display: inline-block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.head-dblue{
    border-radius: 3px 3px 0px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #005683 !important;

    padding: 7px 6px 7px 6px;
    padding-top: 7px;
    padding-right: 6px;
    padding-bottom: 7px;
    padding-left: 6px;
}

.dataTables_paginate {
    float: right;
}

.row-fluid {
    float: left;
}